:root {
  --background-color-primary : rgb(19, 17, 28);
  --color-primary: rgb(248, 203, 21); 
  --color-secundary: rgb(255, 255, 255);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 10px = 1rem  */
  font-family: sans-serif;
}

body {
  background-color: var(--background-color-primary);
  color: var(--color-primary);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
}

h1 {
  margin-top: 30px;
}

h2 {
  margin: 50px 0 20px 0;
  color: var(--color-secundary);
}

p {
  padding: 10px;
  text-align: center;
  color: var(--color-secundary);


}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  margin-top: 50px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 10px;
}
a:hover {
  transform: scale(1.5);
}

footer {
  position: absolute;
  bottom: 1vh;
  width:100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (width >= 750px) {
  a {
    font-size: 3rem;
  }
}




