:root {
--background-color-primary : rgb(19, 17, 28);
--background-color-secondary : rgb(248, 203, 21);
--color-primary: rgb(255, 255, 255);
--color-secondary: rgb(248, 203, 21);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-primary);
  color: var(--color-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
  border: 4px solid var(--color-primary);
  border-radius: 8px;
  background-color: var(--background-color-secondary);
}

button {
  border-radius: 8px;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  width: 100px;
  border-color: var(--color-primary);
  background-color: #333;
  color: var(--color-secondary);
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
}

.lives-game {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 0;
}

.level-game{
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 0;
}

.message-win{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
  color: var(--color-secondary);
}

.time-record{
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-top: 14px ;
  }

.time-record__time,
.time-record__record {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.time__counter,
.record__counter {
  font-size: 1.8rem;
}

.messages {
    margin: 20px auto;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-secondary);
}  

.play-btn button {
  margin: 20px auto
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 18px;
}

.inactive-btn-container {
  display: none;
}

.btn-inactive {
  display: none;
}

.inactive {
  display: none;
}

.reset-btn  {
  margin-top: 40px;
  cursor: pointer;
}
.reset-btn:hover  {
  transform: scale(1.5);

}


@media screen and (width >= 640px) {
  button {
  padding: 5px 5px;
  width: 80px;
  }

  .game-container {
    display: flex;
   flex-direction: column;
  }
 
  .lives-game {
   padding: 5px 0;
  }

}

@media screen and (width >=940px) {
  .btn-container {
   display: none;
  }

  .lives-game {
    font-size: 2rem;
  }

  .messages {
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 1.2rem;  
  }
  
  .reset-btn {
    margin: 0 ;
    font-size: 2rem;
  }
  
}