:root {
--background-color-primary : #13111C;
--background-color-secondary : #F8CB15;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background-color: var(--background-color-primary);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
}

canvas {
  border: 4px solid #fff;
  border-radius: 8px;
  background-color: var(--background-color-secondary);
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 18px;
}

.inactive-btn-container {
  display: none;
}

button {
  background-color: #333;
  color: #F7DF1E;
  border-radius: 8px;
  border-color: #fff;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  width: 100px;
}

button:not(:last-child) {
  margin-right: 10px;
}

.play-btn button {
  margin: 20px auto
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}
.btn-inactive {
  display: none;
}
.reset-btn {
  margin-top: 20px;
}

.messages {
  margin: 20px auto;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color: var(--background-color-secondary);
  font-size: 1.5rem;
  font-weight: bold;
}

.time-record{
width: 80%;
display: flex;
justify-content: space-around;
font-weight: bold;
margin-top: 14px ;

}

.lives-game {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 0;
}


@media screen and (width >= 640px) {
  .game-container {
    display: flex;
   flex-direction: column;
  }
 
  .lives-game {
   padding: 5px 0;
  }

  button {
  padding: 5px 5px;
  width: 80px;
  }
 
}

@media screen and (width >=940px) {
  .btn-container {
   display: none;
  }

  .lives-game {
    font-size: 2rem;
  }

  .reset-btn {
    margin: 0;
  }

  .messages {
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 1.2rem;  
  }


}